@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<p>Please login below</p>

<form action="/Account/Login" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />

    <button type="submit"> Login </button>
</form>

